html {
  font-size: 62.5%;
  font-family: sans-serif;
}

head {
  display: none;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  color: #222;
}

meta {
  display: none;
}

.container {
  max-width: 800px;
}

@media (min-width: 400px) {
  .container {
  width: 85%;
  padding: 0;
}
}

.container {
  position: relative;
  margin: auto;
  box-sizing: border-box;
}

.header {
  margin-top: 6rem;
  text-align: center;
}

d

a {
  position: centre;
}


img {
  border: 0;
  max-width: 100%;
  border-radius: 50%;
}