body {
  background-color: none;
  background-image: url('../images/IMG_9764.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif;

}

a {
  text-decoration: none;
  color: #999;
}

h1, h2, h3 {
  margin: 0px;
}

#container {
  background-color: none;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: #999;


}

#headder {
  background-color: #999;
  color: #333;
  text-align:left;
  padding: 30px 10px 5px 10px;

} 

#content {
  padding:10px;
}

#nav {
  width: 180px;
  float: left;
}

#nav ul {
  list-style-type: none;
  padding: 0px;
}

.selected {
  font-weight: bold;
}

#main {
  width: 800px;
  float:right;
}

#footer {
    clear: both;
    padding: 10px;
    background-color:none;
    color: 'white';
    text-align: rights;
}
 