html {
 height: 100%;
 width: 100%;
}

body {
 min-height: 100%;
 width: 90%;
}

div{
  display: block;
}
body {
  font-family: 'Inconsolata', sans-serif;
  margin: auto;
}
.contentWrap{
  display: flex;
  justify-content: center;
}
.projectInfo{
  max-width: 300px;
  padding-top: 20px;
}

.projectContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
content{
  background: white;
  position: relative;
  z-index: 2;
}

header {
  animation: animate-background linear 30s infinite;
  background-color: black;
  background-image: url(../images/group_slice.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
  }

  @keyframes animate-background {
  0% { background-position: 0 }
  50% { background-position: 100%;
        opacity: 0.2; }
  55%{ opacity: 1.0; }
  100% { background-position: 0 }
  }
  /*background-color: #ccc;
  opacity: 0.9;
  background: url() center;
  background-size: cover;
  background-position: top;
  position: relative;
  size: 30%;
  position: center;
  background-attachment: fixed;
  overflow: hidden;
*/
/*  border-radius: 50%;
box-shadow: 0.5em 0.5em 0.5em #888888;*/

p {
  padding-top: 20px;
}

.tiePilot{
  background: url(../images/tie-pilot.png) center top;
  background-size: cover;
  background-attachment: fixed;
}

.hand-attack{
  background: url(../images/hand-attack.png) center top;
  background-size: cover;
  background-attachment: fixed;
}

.IMG_9764{
  background: url(../images/IMG_9764.png) center top;
  background-size: cover;
  background-attachment: fixed;
}

.stormtrooper-tank{
  background: url(../images/stormtrooper-tank.jpg) center top;
  background-size: cover;
  background-attachment: fixed;
}

.group{
  background: url(../images/group.png) center top;
  background-size: cover;
  background-attachment: fixed;
}

.logo{
  float: left;
  margin: 30px 0 0 30px;
  height: 30px;
  width: 50px;
  background-color: rgba(0,0,0,0.4);
  line-height: 30px;
  color: white;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 30%;
}

nav{
  float: right;
  white-space: nowrap;

  height: 30px;
  line-height: 30px;
  margin: 30px 30px 30px 0;
  vertical-align: middle;
  text-decoration: none;
  background: rgba(0,0,0,0.4);
  border-radius: 20%;
}



@media (min-width: 400px) {
  body{
    width: 100%;
    padding: 0;
    text-align: center;
  }

  nav{
    margin: 30px 10px;
  }
}

nav a {
  display: inline-block;
  margin: 0px 10px;
  color: rgba(255,255,255, 0.9);
  font-weight:700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

p{
  font-size: 14px;
  max-width: 640px;
  margin: auto;
}

.blogHome{
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  margin: auto;
  margin-top: 30px;
  vertical-align: middle;
  text-decoration: none;
  background: rgba(0,0,0,0.4);
  border-radius: 20%;
  width: 100px;
}

h1 {
  width: 100%;
  text-align: center;
  font-weight: 500px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  clear: both;
  padding-top: 50px;
  position: relative;
  top: 30%;
  z-index: -2;
}

h1 span{
  width: 40%;
  display: inline-block;
  padding: 0.2em 0.5em;
  border: white solid 10px;
  border-radius: 20%;
  background: rgba(0,0,0,0.4);
  -webkit-box-shadow: 10px 10px 49px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 49px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 49px -9px rgba(0,0,0,0.75);
}

.kicker{
  clear: both;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white;
  line-height: 1;
  z-index: -3;
  margin-top: 100px;
  font-size: 2em;
}

section{
  margin-top: 100px;
}

.largeWindow{
  height: 300px;
  width: 300px;
  margin: auto;
  margin-top: 50px;
  position: center 0px;
  background-image: url(../images/uili-fecteau-profile-pictureCropedScaled.jpg);
  background-position: top center;
  background-repeat: repeat-y;
  background-attachment: fixed;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 49px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 49px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 49px -9px rgba(0,0,0,0.75);
}

#blogs{
  margin-top: 50px;
  height: 400px;
}

button:hover {
  animation: wiggle 0.4s linear 1;
    animation-name: wiggle;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-delay: initial;
    animation-iteration-count: 1;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}

footer{
  height: 150px;
  background: black;
  background-size: cover;
  background-position: top;
  margin-top: 30px;
  padding-top: 30px;
  clear: both;
/*  position: fixed;
  margin: 0 auto;
  z-index: -4;*/
}

ul{
  text-decoration: none;
  color: white;
  background: transparent;
}

#contact ul{
  text-decoration: none;
}

#contact li {
  display: inline;
  text-decoration: none;
}

.copyright{
  width: 200px;

  line-height: 30px;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  background: rgba(0,0,0,0.4);
  clear: both;
  margin-bottom: 50px;

  border-radius: 20%
}

.trooperBox{
  position: relative;
}

button{
  background: rgba(0,0,0,0.4);
  font-size: 12px;
  color: white;
  text-decoration: none;
  border-radius: 20%;
  -webkit-box-shadow: 10px 10px 49px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 49px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 49px -9px rgba(0,0,0,0.75);
}

.footer{
  padding-bottom: 20px;
}

a{
  text-decoration: none;
  color: white;
  background: transparent;
}

.projectA{
  color: black;
}


a:hover{
  color: rgba(0,0,0,0.7);
}

ul#social {
    padding: 0;
    display: inline;
}
ul#social li {
    display: inline;
}
ul#social li a {
    padding: 10px 20px;
    text-decoration: none;
}
ul# li a:hover {
    border: dotted 1px darkcyan;
}
